@page "/about"
<div id="page">
    <div class="colorlib-about">
        <div class="container">
            <div class="row row-pb-lg">
                <div class="col-sm-6 mb-3">
                        
                        <img src="../images/notbaddesigns.jpg" width="500px"/>
                    
                </div>
                <div class="col-sm-6">
                    <div class="about-wrap">
                        <h2>Hello</h2>
                        <h4>welcome to the world’s most introverted online shop, NotBad Designs!</h4>
                        <h4>When we’re not avoiding social interaction, we’re making quirky designs for those with a more nuanced pallet.</h4>
                        <h4>
                            Not just good, Not Bad Designs
                        </h4>
                        <h4>
                            Thanks for stopping by!

                        </h4> 
                        <h4>
                            The NotBad Design Team
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>