@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Quien Soy?</h2>

        <p>
            ¡Hola! Mi nombre es <span>Lisandro Iraguen</span> Soy un desarrollador .NET web con experiencia en la plataforma de Azure de Microsoft.
        </p>
        <p>
            He trabajado con lenguajes de programación como C# y Visual Basic, y tengo experiencia en el desarrollo de aplicaciones web utilizando ASP.NET y .NET Core.
        </p>
        <p>
            También tengo experiencia en el uso de la plataforma de computación en la nube de Microsoft, Azure. He creado y administrado máquinas virtuales,<br /> utilizado servicios de almacenamiento como Azure Blob Storage, servicios de base de datos como Azure SQL Database, <br />y he creado soluciones escalables utilizando Azure Functions y Azure App Service.
        </p>
        <p>
            Como desarrollador .NET web con experiencia en Azure, tengo un sólido conocimiento en arquitectura de software, <br />patrones de diseño y buenas prácticas de desarrollo de software. <br />También estoy familiarizado con herramientas y tecnologías relacionadas, <br />como Git, Visual Studio, y las metodologías de desarrollo ágil como Scrum.
        </p>
        <p>
            En resumen, como desarrollador .NET web con conocimientos en Azure, estoy altamente capacitado para crear soluciones de software altamente escalables y eficientes para empresas de todo tipo.<br /> Me encanta estar a la vanguardia de la tecnología y estoy constantemente aprendiendo nuevas habilidades para mejorar mi trabajo y ofrecer mejores soluciones a mis clientes.
        </p>
        <a href="https://www.linkedin.com/in/lisandroiraguen/">Mi Linkedin</a>
    </div>
</div>