@page "/contact"




<div id="page">
    <div id="colorlib-contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Contact Information</h3>
                    <div class="row contact-info-wrap">
                        <div class="col-md-3">
                            <p>xxxx, <br> xxxx</p>
                        </div>
                        <div class="col-md-3">
                            <p> <a href="tel://1234567920">+ xxxx</a></p>
                        </div>
                        <div class="col-md-3">
                            <p> <a href="mailto:info@yoursite.com">info@notbaddesign.com</a></p>
                        </div>
                        <div class="col-md-3">
                            <p> <a href="#">notbaddesign.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>