@page "/home"
@inject HttpClient http
@inject NavigationManager navigation
@using Data;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using static System.Net.WebRequestMethods;

<div id="page">
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
					<h2 class="intro">Lifestyle brand for those with a nuanced pallet. "Not just good, Not Bad Designs."</h2>
					</div>
				</div>
			</div>
		</div>
			
	</div>
<div class="content-container">

		<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
					<a href="https://www.redbubble.com/people/NotBadDesigns/explore?asc=u&page=1&sortOrder=recent"><p><h2 style="color:blue">Explore Designs</h2></p></a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12 text-center">
					<p><a href="https://www.redbubble.com/es/people/NotBadDesigns/shop?asc=u" class="btn btn-primary btn-lg" style="background-color:#00b3e6">View My Shop</a></p>
					</div>
				</div>
			</div>


</div>

@code {

	//private IEnumerable<Product> products = null;

	//protected override async Task OnInitializedAsync()
	//{
	//	products = await http.GetFromJsonAsync<IEnumerable<Product>>("api/products");
	//}

}

