<header>
	<nav class="colorlib-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 col-md-9">
						<div id="colorlib-logo"><a href="index.html">Not Bad Designs</a></div>
					</div>
					<div class="col-sm-5 col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-left menu-1">
						<ul>
							<li class="active"><a href="index.html">Home</a></li>
							<li class="has-dropdown">
								<a href="Cat.html">Cat</a>
							</li>
							<li><a href="T-Shirts.html">T-Shirts</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</nav>
</header>