<header>
	<nav class="colorlib-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 col-md-9">
                        <div id="colorlib-logo"><img src="~/images/brand logo.png" /><a href="/home">Not Bad Designs</a></div>
					</div>
					<div class="col-sm-5 col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-left menu-1">
						 <ul class="menu-list">
							 <li class="p-2">
							<NavLink href="/home" ActiveClass="active-link"  >
									Home
								</NavLink>
							</li>							
							<li class="p-2">
								<NavLink href="/about" ActiveClass="active-link">
								About
								</NavLink>
							</li>
							<li class="p-2">
								<NavLink href="/contact" ActiveClass="active-link" >
								Contact
							</NavLink>
							</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
		
	</nav>
</header>